* { margin: 0; padding: 0; box-sizing: border-box;}
html { height: 100vh; max-width: 120rem; margin: auto; }
body {width: 110rem; max-height: fit-content; margin: auto; background-color: #57737bbb; }
nav { display: flex; align-items: center; justify-content: space-around; margin-top: 2rem; height: 4rem; background-color: #db9f30; 
        border-radius: 16px 16px 0px 0px;}
footer {
    height: 50px;
    width: 110rem;
    background-color: orange;
    border-radius: 0 0 16px 16px;
}
.socials {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-right: 190px;
    color: #003035;
    font-weight: 300;
}
.facebook {
    height: 32px;
    width: 40px;
    background-image: url('/src/assets/icons/facebook.png');
    background-repeat: no-repeat; 
    background-position-x: center;
}
.instagram {
    height: 32px;
    width: 40px;
    background-image: url('/src/assets/icons/instagram.png');
    background-repeat: no-repeat; 
    background-position-x: center;
}
.x-twitter {
    height: 32px;
    width: 40px;
    background-image: url('/src/assets/icons/twitter.png');
    background-repeat: no-repeat; 
    background-position-x: center;
}
button {border: none; text-decoration: none; text-align: center; background-color: #db9f30; 
      color: #20353b; font-size: 16px; cursor: pointer;}
.btn-order {display: block; padding: 25px 55px; margin-top: 3rem; font-size: 12px; font-weight: bold; }
#content {height: 88vh; background-color: #2c4147;}
.home-container {height: 100%; display: grid; grid-template-rows: 40% 60%; grid-auto-flow: column; grid-auto-columns: 90% 10%; 
      background-image: url('/src/assets/images/pancakeBg.jpg');  background-repeat: no-repeat; background-size: cover; 
      background-size: 60vh; }
.title {font-size: 120px; font-weight: bold; color: #db9f30; align-self: end; justify-self: end; background-color: rgba(0, 0, 0, 0.4); 
        width: 50rem; text-align: center; padding: 49px 0 48px 0;}
.text {font-size: 22px; color: #dee2e2; padding-left: 54rem; padding-right: 17rem; margin-top: 1.5rem;}
.mini-pictures {display: grid; grid-row: 1/3; grid-template-rows: repeat(5, 1fr);}
.first-picture {background-image: url('/src/assets/images/pic-1.jpg');  background-repeat: no-repeat; background-size: cover;}
.second-picture {background-image: url('/src/assets/images/pic-2.jpg');  background-repeat: no-repeat; background-size: cover;}
.third-picture {background-image: url('/src/assets/images/pic-3.jpg');  background-repeat: no-repeat; background-size: cover;}
.fourth-picture {background-image: url('/src/assets/images/pic-4.jpg');  background-repeat: no-repeat; background-size: cover;}
.fifth-picture {background-image: url('/src/assets/images/pic-5.jpg');  background-repeat: no-repeat; background-size: cover; }
.pancake-icon {background-image: url('/src/assets/icons/pancake-icon.png'); background-repeat: no-repeat; width: 32px; height: 32px;}
.menu-container {height: 100%; width: 100%;}
.menu-bar-title {font-size: 90px; font-weight: bold; color: #db9f30; text-align: center; background-color: rgba(0, 0, 0, 0.4); }
.menu-title {font-size: 40px; font-weight: bold; font-style: italic; color: #f0e0c3; text-align: center; }
.menu-items {height: 85%; width: 85%; color:#db9f30; display: grid; grid-template-columns: 1fr 1fr; gap: 0.5rem; overflow-y: scroll;
        margin: auto;}
.category-container {font-weight: bold; font-size: 28px; margin-top: 24px;}
.name, .desc, .price {font-weight: 100; font-size: 18px; }
.name {margin-top: 14px; font-size: 20px; font-weight: bold; }
.desc {font-style: italic; color: #dee2e2;}
.about-container {height: 100%; display: grid; grid-template-columns: 45% 55%; grid-template-rows: 1fr 3fr;}
.about-title {display: grid; height: 100%; grid-row: 1 / 3; background-image: url('/src/assets/images/about-pic.jpg'); 
      background-size: cover; background-repeat: no-repeat; }
.about-heading {justify-self: center; align-content: end; color: orange; font-size: 78px; font-style: italic;}
.about-text {color: antiquewhite; font-size: 22px; text-align: justify; padding: 4rem 4rem 0 4rem;}
.title-text {background-color: rgba(0, 0, 0, 0.4); font-size: 90px; font-weight: bold; color: orange; text-align: center; 
        align-self: center;}
.contact-content {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.contact-container {height: 70vh; width: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center; 
        gap: 2rem; background-color: rgba(0, 0, 0, 0.4);}
.img-container { display: flex; justify-content: center;}
.contact-img {width: 250px; height: 275px;}
.contact-info-title, .working-time-title {font-size: 48px; color: orange; font-weight: bold;     font-style: italic;}
.contact-info, .working-time {text-align: center; color: #dee2e2; font-size: 24px;}